## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,khatanga,RU,71.9667,102.5000,-1.71,97,99,6.78
1,1,mahibadhoo,MV,3.7833,72.9667,82.08,72,97,10.11
2,2,lekoni,GA,-1.5843,14.2591,83.55,56,43,0.96
3,3,antofagasta,CL,-23.6500,-70.4000,71.01,60,0,11.50
4,4,upernavik,GL,72.7868,-56.1549,-15.54,74,80,2.66

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 22
What is the maximum temperature you would like for your trip? 80

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
temperature_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
temperature_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,antofagasta,CL,-23.6500,-70.4000,71.01,60,0,11.50
6,6,castro,BR,-24.7911,-50.0119,76.32,67,36,6.62
8,8,beloha,MG,-25.1667,45.0500,72.07,81,36,4.41
10,10,umm kaddadah,SD,13.6017,26.6876,73.22,11,0,13.73
11,11,viedma,AR,-40.8135,-62.9967,79.36,12,41,8.63
12,12,constitucion,CL,-35.3333,-72.4167,69.30,42,0,4.88
13,13,sawtell,AU,-30.3833,153.1000,64.40,94,31,3.44
14,14,kilis,TR,36.7161,37.1150,42.80,65,0,6.91
15,15,tura,IN,25.5198,90.2201,74.17,19,0,2.42
16,16,hermanus,ZA,-34.4187,19.2345,66.99,75,100,1.99

In [7]:
# 4a. Determine if there are any empty rows.
temperature_cities_df.count()

City_ID       469
City          469
Country       467
Lat           469
Lng           469
Max Temp      469
Humidity      469
Cloudiness    469
Wind Speed    469
dtype: int64

In [ ]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df

In [ ]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

In [ ]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

In [ ]:
# 7. Drop the rows where there is no Hotel Name.

In [ ]:
# 8a. Create the output File (CSV)

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [ ]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """

"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [ ]:
# 11a. Add a marker layer for each city to the map. 

# 11b. Display the figure